.main_div {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* background-color: var(--bg-secondary);	 */
}

.main_profile {
	display: flex;
}

.main_profile > * {
	margin: 1rem;
}

.profile_holder {
	display: flex;
	
	width: 10rem;
	height: 10rem;
	border-radius: 50%;

	align-items: center;
	justify-content: center;

	background-color: var(--bg-primary);
	/* transition: var(--transition-speed); */
}

/* .profile_holder:hover {
	box-shadow: 0.5rem 0 1rem 1rem var(--bg-primary);
} */

.user {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
	/* background-size: cover; */
}