.main_div {
	padding: 1rem;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.main_profile {
	display: flex;
}

.main_profile > * {
	margin: 1rem;
}

/* .profile_holder {
	display: flex;
	
	width: 10rem;
	height: 10rem;
	border-radius: 50%;

	align-items: center;
	justify-content: center;

	background-color: var(--bg-primary);
} */

/* .user {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
} */