.navbar {
	position: fixed;
	z-index: 1;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: hidden;
}

.navbar_nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav_item {
	width: 100%;
}

.nav_item:last-child {
	margin-top: auto;
}

.nav_link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav_link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.nav_link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.link_text {
	display: none;
	margin-left: 1rem;
}

.fa_primary {
	color: #ff7eee;
}

.fa_secondary {
	color: #df49a6;
}

.fa_primary,
.fa_secondary {
	transition: var(--transition-speed);
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
}

.logo_text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

.theme_icon {
	visibility: hidden;
}

/* possible gets removed during compile time? */
.dark #darkIcon {
	display: block;
}

.light #lightIcon {
	display: block;
}

.solar #solarIcon {
	display: block;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}

	.navbar_nav {
		flex-direction: row;
	}

	.nav_link {
		justify-content: center;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link_text {
		display: inline;
	}

	.navbar:hover .logo svg {
		margin-left: 11rem;
	}

	.navbar:hover .logo_text {
		left: 0px;
	}
}